
.bloco_titulo {
    background-color: #FFF8DC;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.titulo {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    font-size: 13px;
}

.titulo hr {
    border-color: #30706F;
    width: 230px;
    border-style: solid;
    border-top-width: 2px;
    margin-top: 10px;
    border-radius: 2px;
}

.section_cadastro {
    background-color: #FFF8DC;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 700px;
}

.banner_cadastro {
    flex: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
}

.banner_cadastro img {
    height: 250px;
}

.form_cadastro {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 200px;
    
}

.campo_cad_titulo input,
.campo_cad_titulo select,
.campo_cad_titulo textarea {
    margin-bottom: 65px;
    padding: 5px 5px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 15px;
    width: 356px;
    display: flex;
    background-color: #FFF8DC;
}

.select_cad {
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    padding: 0 5px;
    width: 355px;
    height: 30px;
    margin-bottom: 20px;
    color: grey;
}

.opcao {
    margin-bottom: 50px;
}

.campos_cadastro {
    padding-inline-start: 50px;
}

@media (max-width: 1024px) {
    .section_cadastro {
        flex-direction: column;
        height: auto;
        padding: 40px 20px;
    }

    .banner_cadastro {
        margin-left: 0;
        margin-bottom: 30px;
        justify-content: center;
    }

    .banner_cadastro img {
        height: 200px;
    }

    .form_cadastro {
        margin-top: 0;
        margin-bottom: 100px;
        width: 100%;
        align-items: center;
    }

    .campo_cad_titulo input,
    .campo_cad_titulo select,
    .campo_cad_titulo textarea {
        width: 90%;
        max-width: 400px;
    }

    .select_cad {
        width: 90%;
        max-width: 400px;
    }

    .campos_cadastro {
        padding-inline-start: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 400px) {
    /* Impede o scroll lateral */
    body, html {
        overflow-x: hidden;
    }

    .main_cadastro {
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .bloco_titulo {
        padding: 20px 10px;
    }

    .titulo {
        font-size: 10px;
        margin-top: 0;
        text-align: center;
    }

    .titulo hr {
        width: 100px;
    }

    .section_cadastro {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        height: auto;
        gap: 20px;
    }

    .banner_cadastro {
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .banner_cadastro img {
        height: 120px;
        width: auto;
        max-width: 100%;
    }

    .form_cadastro {
        margin-top: 0;
        margin-bottom: 30px;
        width: 100%;
        align-items: center;
    }

    .campos_cadastro {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .campo_cad_titulo input,
    .campo_cad_titulo select,
    .campo_cad_titulo textarea,
    .select_cad {
        width: 90%;
        max-width: 300px;
        font-size: 14px;
    }

    .descricao {
        resize: none;
        height: 80px;
    }
}
